#### **Project : Stock Market Analysis & Markovitch Efficient Frontier**

In [34]:
# Importing Useful Libraries for Stock Reading
import pandas_datareader.data as web
import datetime
import pandas as pd
import numpy as np

In [9]:
start = datetime.datetime(2021, 1, 1)
end = datetime.datetime(2021, 12, 31)

From now on we will choose the following 4 stocks to analyse our portfolio *CEVA* *GOOGLE* *TESLA* and *ZOMEDICA*

In [28]:
## Defining our Stocks
ceva = web.DataReader('CEVA', 'yahoo', start, end)
google = web.DataReader('GOOGL', 'yahoo', start, end)
tesla = web.DataReader('TSLA', 'yahoo', start, end)
apple = web.DataReader('AAPL', 'yahoo', start, end)

In [29]:
### Checking for the form of our Stocks
Stocks = [ceva, google, tesla, apple]

### Diplaying our Stocks 
for stock in Stocks:
    display("The Shape of the {} DataSet is : ".format(stock, stock.shape), )

'The Shape of the                  High        Low       Open      Close  Volume  Adj Close\nDate                                                                     \n2021-01-04  48.040001  43.570000  46.000000  44.720001  280700  44.720001\n2021-01-05  47.009998  44.090000  44.090000  46.430000  229300  46.430000\n2021-01-06  48.790001  46.740002  47.060001  48.160000  234700  48.160000\n2021-01-07  50.860001  49.110001  49.930000  50.700001  342700  50.700001\n2021-01-08  51.939999  50.099998  51.330002  50.910000  179600  50.910000\n...               ...        ...        ...        ...     ...        ...\n2021-12-27  45.459999  44.169998  44.560001  45.380001   79000  45.380001\n2021-12-28  45.980000  43.689999  45.389999  44.060001   80900  44.060001\n2021-12-29  44.490002  43.380001  43.610001  43.990002   76300  43.990002\n2021-12-30  44.930000  43.180000  43.810001  43.570000   96900  43.570000\n2021-12-31  44.009998  43.020000  44.009998  43.240002   99000  43.240002\n\n[252 rows x 6 columns] DataSet is : '

'The Shape of the                    High          Low         Open        Close   Volume  \\\nDate                                                                      \n2021-01-04  1762.489990  1707.140015  1760.000000  1726.130005  1866200   \n2021-01-05  1746.829956  1716.900024  1725.089966  1740.050049  1018000   \n2021-01-06  1743.969971  1696.099976  1700.260010  1722.880005  2329400   \n2021-01-07  1777.819946  1726.760010  1726.760010  1774.339966  2096800   \n2021-01-08  1799.359985  1761.219971  1777.160034  1797.829956  1774200   \n...                 ...          ...          ...          ...      ...   \n2021-12-27  2966.879883  2943.389893  2945.120117  2958.129883   798800   \n2021-12-28  2965.979980  2921.090088  2964.719971  2933.739990   910000   \n2021-12-29  2948.340088  2912.949951  2932.889893  2933.100098   889400   \n2021-12-30  2946.000000  2919.889893  2933.879883  2924.010010   784400   \n2021-12-31  2933.969971  2897.040039  2921.000000  2897.040039   906200   \n\n              Adj Close  \nDate                     \n2021-01-04  1726.130005  \n2021-01-05  1740.050049  \n2021-01-06  1722.880005  \n2021-01-07  1774.339966  \n2021-01-08  1797.829956  \n...                 ...  \n2021-12-27  2958.129883  \n2021-12-28  2933.739990  \n2021-12-29  2933.100098  \n2021-12-30  2924.010010  \n2021-12-31  2897.040039  \n\n[252 rows x 6 columns] DataSet is : '

'The Shape of the                    High          Low         Open        Close    Volume  \\\nDate                                                                       \n2021-01-04   744.489990   717.190002   719.460022   729.770020  48638200   \n2021-01-05   740.840027   719.200012   723.659973   735.109985  32245200   \n2021-01-06   774.000000   749.099976   758.489990   755.979980  44700000   \n2021-01-07   816.989990   775.200012   777.630005   816.039978  51498900   \n2021-01-08   884.489990   838.390015   856.000000   880.020020  75055500   \n...                 ...          ...          ...          ...       ...   \n2021-12-27  1117.000000  1070.719971  1073.670044  1093.939941  23715300   \n2021-12-28  1119.000000  1078.420044  1109.489990  1088.469971  20108000   \n2021-12-29  1104.000000  1064.140015  1098.640015  1086.189941  18718000   \n2021-12-30  1095.550049  1053.150024  1061.329956  1070.339966  15680300   \n2021-12-31  1082.000000  1054.589966  1073.439941  1056.780029  13528700   \n\n              Adj Close  \nDate                     \n2021-01-04   729.770020  \n2021-01-05   735.109985  \n2021-01-06   755.979980  \n2021-01-07   816.039978  \n2021-01-08   880.020020  \n...                 ...  \n2021-12-27  1093.939941  \n2021-12-28  1088.469971  \n2021-12-29  1086.189941  \n2021-12-30  1070.339966  \n2021-12-31  1056.780029  \n\n[252 rows x 6 columns] DataSet is : '

'The Shape of the                   High         Low        Open       Close       Volume  \\\nDate                                                                      \n2021-01-04  133.610001  126.760002  133.520004  129.410004  143301900.0   \n2021-01-05  131.740005  128.429993  128.889999  131.009995   97664900.0   \n2021-01-06  131.050003  126.379997  127.720001  126.599998  155088000.0   \n2021-01-07  131.630005  127.860001  128.360001  130.919998  109578200.0   \n2021-01-08  132.630005  130.229996  132.429993  132.050003  105158200.0   \n...                ...         ...         ...         ...          ...   \n2021-12-27  180.419998  177.070007  177.089996  180.330002   74919600.0   \n2021-12-28  181.330002  178.529999  180.160004  179.289993   79144300.0   \n2021-12-29  180.630005  178.139999  179.330002  179.380005   62348900.0   \n2021-12-30  180.570007  178.089996  179.470001  178.199997   59773000.0   \n2021-12-31  179.229996  177.259995  178.089996  177.570007   64025500.0   \n\n             Adj Close  \nDate                    \n2021-01-04  128.617096  \n2021-01-05  130.207306  \n2021-01-06  125.824318  \n2021-01-07  130.117859  \n2021-01-08  131.240921  \n...                ...  \n2021-12-27  180.330002  \n2021-12-28  179.289993  \n2021-12-29  179.380005  \n2021-12-30  178.199997  \n2021-12-31  177.570007  \n\n[252 rows x 6 columns] DataSet is : '

In [30]:
### Concatenate our Stocks data to a single pandas DataFrame to be easily manipulable
stocks = pd.concat([ceva['Close'], google['Close'], apple['Close'], tesla['Close']], axis = 1)
stocks.columns = ['CEVA', 'GOOGLE', 'APPLE', 'TESLA']

### Displaying the Stocks
stocks

                 CEVA       GOOGLE       APPLE        TESLA
Date
2021-01-04  44.720001  1726.130005  129.410004   729.770020
2021-01-05  46.430000  1740.050049  131.009995   735.109985
2021-01-06  48.160000  1722.880005  126.599998   755.979980
2021-01-07  50.700001  1774.339966  130.919998   816.039978
2021-01-08  50.910000  1797.829956  132.050003   880.020020
...               ...          ...         ...          ...
2021-12-27  45.380001  2958.129883  180.330002  1093.939941
2021-12-28  44.060001  2933.739990  179.289993  1088.469971
2021-12-29  43.990002  2933.100098  179.380005  1086.189941
2021-12-30  43.570000  2924.010010  178.199997  1070.339966
2021-12-31  43.240002  2897.040039  177.570007  1056.780029

[252 rows x 4 columns]

Stock Returns
$$
r_t = \frac{p_t}{p_{t-1}}
$$

In [33]:
### Compyting the Returns
returns = stocks/stocks.shift(1)

display(returns)

                CEVA    GOOGLE     APPLE     TESLA
Date
2021-01-04       NaN       NaN       NaN       NaN
2021-01-05  1.038238  1.008064  1.012364  1.007317
2021-01-06  1.037260  0.990132  0.966338  1.028390
2021-01-07  1.052741  1.029869  1.034123  1.079447
2021-01-08  1.004142  1.013239  1.008631  1.078403
...              ...       ...       ...       ...
2021-12-27  1.022533  1.006738  1.022975  1.025248
2021-12-28  0.970912  0.991755  0.994233  0.995000
2021-12-29  0.998411  0.999782  1.000502  0.997905
2021-12-30  0.990452  0.996901  0.993422  0.985408
2021-12-31  0.992426  0.990776  0.996465  0.987331

[252 rows x 4 columns]

The Log Stock Returns 
$$
    log(r_t) = log \frac{p_t}{p_{t-1}}
$$

In [36]:
### Computing the Log Returns 
LogReturns = np.log(returns)

### Displaying the Log Returns DataFrame
display(LogReturns, LogReturns.shape)

                CEVA    GOOGLE     APPLE     TESLA
Date
2021-01-04       NaN       NaN       NaN       NaN
2021-01-05  0.037525  0.008032  0.012288  0.007291
2021-01-06  0.036583 -0.009917 -0.034241  0.027995
2021-01-07  0.051397  0.029431  0.033554  0.076448
2021-01-08  0.004133  0.013152  0.008594  0.075481
...              ...       ...       ...       ...
2021-12-27  0.022283  0.006716  0.022715  0.024935
2021-12-28 -0.029519 -0.008279 -0.005784 -0.005013
2021-12-29 -0.001590 -0.000218  0.000502 -0.002097
2021-12-30 -0.009594 -0.003104 -0.006600 -0.014700
2021-12-31 -0.007603 -0.009266 -0.003542 -0.012750

[252 rows x 4 columns]

(252, 4)

Sharpe Ratio : The Sharpe ratio was developed by Nobel laureate **William F. Sharpe (American Economist)** and is used to help investors understand the return of an investment compared to its risk. The ratio is the average return earned in excess of the risk-free rate per unit of volatility or total risk. Volatility is a measure of the price fluctuations of an asset or portfolio.

$$
SR(\omega) = \frac{R(\omega) - R_f}{\sigma(\omega)}
$$

**Where :**
- **$ R(\omega) $** : The Return with Risk of the Weight $\omega$.
- **$ R_f $** : The Risk Free Return , which means the Return in an ideal scenario, where we have no risk.
- **$\sigma (\omega) $** : The Variance or the Volatility.

The Weight Vector of the Portfolio : 
$$\omega = Vector(\omega1, \omega2, \omega3, \omega4)$$.

**WHERE** : $$ \sum\limits_{k = 1}^{4} \omega_k = 1$$